.reveal .title {
  width: 60%;
}

.reveal .dataset > table {
  width: 80%;
  margin-left: 4%;
  th:nth-child(-n + 1) {
    font-weight: normal;
  }
  th:nth-child(n + 2) {
    border-top: 2px solid var(--solarized-base01);
    border-bottom: 1px solid var(--solarized-base01);
  }
  th:nth-child(5),
  td:nth-child(5) {
    border-right: 1px solid var(--solarized-base01);
  }
  tr:nth-child(4) {
    td:nth-child(n + 2) {
      border-bottom: 2px solid var(--solarized-base01);
    }
  }
}
