.reveal h1 {
  font-size: 2.5rem;
  color: var(--solarized-base3);
  background-color: var(--solarized-blue);
  border-radius: 1rem;
  box-shadow: 0.4rem 0.4rem 1rem var(--solarized-cyan);
  padding: 2rem 1rem 1rem 1rem;
  margin: 4rem auto 2rem auto;
  width: 80%;
}

.reveal .bottom_left {
  width: 20%;
}

.reveal .bottom_center {
  width: 60%;
}

.reveal .bottom_right {
  width: 20%;
}

// 从最后一行开始的bb行有上边框 默认bb=0 即就是三线表
@mixin tableconfig($tablename, $bb: 0) {
  .reveal .#{$tablename} tbody tr:nth-last-child(-n + #{$bb}) td {
    border-top: 1px solid var(--solarized-base01);
  }
}

@include tableconfig(rand, 1); // rand表最优一行是win/tie/lose 需上边框

// 设置第col列的对齐方式 默认左对齐
@mixin tablecolumnalign($tablename, $col, $align: left) {
  .reveal .#{$tablename} tr th:nth-child(#{$col}),
  .reveal .#{$tablename} tr td:nth-child(#{$col}) {
    text-align: $align;
  }
}

@include tablecolumnalign(rand, 1);

.reveal .rand > table {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}
