.reveal .header {
  display: flex;
  flex-direction: row-reverse; // 从右向左排列
  margin: 0;
}

.reveal .hust {
  content: url("../../common/img/hust.png");
  height: 120px;
  margin-top: 0.5rem;
  margin-right: 2rem;
  margin-bottom: -2rem;
  margin-left: 0.5rem;
}

.reveal .nju {
  content: url("../../common/img/nju.png");
  height: 120px;
  margin: 1rem 0 -2rem auto;
}

.reveal h1 {
  font-size: 2.5rem;
  color: var(--solarized-base3);
  background-color: var(--solarized-blue);
  border-radius: 1rem;
  box-shadow: 0.4rem 0.4rem 1rem var(--solarized-cyan);
  padding: 2rem 1rem 1rem 1rem;
  margin: 4rem auto 2rem auto;
  width: 80%;
}

.reveal h2 {
  font-size: 1.8rem;
  margin: 1rem auto;
}

.reveal h3 {
  font-size: 1.4rem;
  margin: 0.5rem auto;
}

.reveal h4 {
  font-size: 1.4rem;
  margin: 1rem auto;
}

.reveal h5 {
  font-size: 2.8rem;
  margin: 0 0.3rem 0.5rem 0.5rem;
}

.reveal h6 {
  font-size: 1.2rem;
  margin: 0.5rem;
}

.reveal p {
  font-size: 1.8rem;
  margin: 0.5rem 2.5rem;
}

.reveal .title {
  width: 45%;
  margin-left: 2rem;
  margin-right: auto;
  padding-bottom: 1rem;
}

.reveal hr {
  height: 0.05rem;
}

.reveal .hr_top {
  margin: 0;
}

.reveal .footer {
  margin: auto 2rem 0 2rem;
}

.reveal .hr_bottom {
  margin: 0;
}

.reveal .bottom_left {
  width: 30%;
}

.reveal .bottom_center {
  width: 40%;
}

.reveal .bottom_right {
  font-size: 1rem;
  font-style: italic;
  width: 30%;
  margin-top: 0.3rem;
}

.reveal img,
.reveal video,
.reveal iframe {
  margin: 20px 0;
}

.reveal dl,
.reveal ul {
  margin: 0 0 0 4rem;
}

.reveal ol {
  margin: 0 0 0 4.8rem;
}

.reveal ul > li,
.reveal ol > li {
  font-size: 1.6rem;
  margin: 0.4rem 0;
  margin-right: 2.5rem;
  color: var(--solarized-yellow);
}

.reveal ul > li:before {
  margin-left: -2rem;
  margin-right: 0.5rem;
  width: 1rem;
}

.reveal blockquote {
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p {
  font-size: 1.6rem;
  margin: 1rem 1rem;
}

.reveal .mermaid {
  margin: 1.5rem 3rem;
}

.reveal pre {
  margin: 1rem auto;
  font-size: 1.2rem;
  line-height: 1.4rem;
  background-color: transparent;
}

.reveal table {
  margin: 1rem auto;
}

.reveal table th,
.reveal table td {
  font-size: 1.2rem;
  padding: 0.5rem 1rem 0.1rem 1rem;
}

// 从最后一行开始的bb行有上边框 默认bb=0 即就是三线表
@mixin tableconfig($tablename, $bb: 0) {
  .reveal .#{$tablename} tbody tr:nth-last-child(-n + #{$bb}) td {
    border-top: 1px solid var(--solarized-base01);
  }
}

@include tableconfig(rand, 1); // rand表最优一行是win/tie/lose 需上边框

// 设置第col列的对齐方式 默认左对齐
@mixin tablecolumnalign($tablename, $col, $align: left) {
  .reveal .#{$tablename} tr th:nth-child(#{$col}),
  .reveal .#{$tablename} tr td:nth-child(#{$col}) {
    text-align: $align;
  }
}

@include tablecolumnalign(rand, 1);

.reveal .rand > table {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}
