.reveal h1 {
  font-size: 2.5rem;
  color: var(--solarized-base3);
  background-color: var(--solarized-blue);
  border-radius: 1rem;
  box-shadow: 0.4rem 0.4rem 1rem var(--solarized-cyan);
  padding: 2rem 1rem 1rem 1rem;
  margin: 4rem auto 2rem auto;
  width: 80%;
}

.reveal .bottom_left {
  width: 20%;
}

.reveal .bottom_center {
  width: 60%;
}

.reveal .bottom_right {
  width: 20%;
}

.reveal .rand > table {
  width: 90% !important;
  th,
  td {
    font-size: 1.2rem;
    padding: 0.5rem 1rem 0.1rem 1rem;
  }
}
